.open__booking__modal{
  button {
    width: 100%;
    color: var(--color-grey-light-1);
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 3px;
    padding: 0.6em 0.5em;
    margin: 0.5em 0;
    outline: none;
  }

  .button:hover,
  .button:focus {
    transition: 0.2s;
    background-color: var(--color-primary-light);
    border: 1px solid var(--color-primary-light);
  }
}
.booking__modal__data__container {
  display: grid;
  place-items: center;
  padding: 1em 0.5em;
  border-radius: 3px;
  position: relative;
  @media screen and (max-width: 400px) {
    width: 130%;
  }
  .number__guest__form__container {
    display: inline-block;
    background-color: hsl(0, 0%, 100%);
    text-align: start;
    margin: 0.2em;
    padding: 0.5em;
    padding: 1em;
    border-radius: 3px;
    .fade__loader__container{
      color:hsl(266, 50%, 36%);
      background-color: hsl(266, 50%, 95%);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      border: 1px solid hsl(266, 50%, 36%);
      border-radius: 3px;
      margin-bottom: .5em;
    }
    .room__name {
      font-weight: bold;
      background-color: var(--color-secondary-light);
      border-radius: 3px;
      display: inline-block;
      padding: 0.2em 0.4em;
    }
    .form {
      .form__heading {
        color: var(--color-grey-dark-2);
        font-weight: bold;
        margin-bottom: 0.5em;
      }
      .Invalid__guest__no__msg{
        margin-bottom: 1em;
          p{
          font-size: small;
          color: hsl(0, 100%, 60%);
          background-color: hsl(0, 100%, 95%);
          padding: 0.5em;
          border: 1px solid hsl(0, 100%, 60%); 
          border-radius: 3px;
          text-align: center;
        }
      }
      .form__input__group {
        .form__input {
          width: 100%;
          padding: 0.5em;
          border: 1.5px solid var(--color-primary-light);
          border-radius: 3px;
          outline: none;
        }
      }
    }
  }
}

.form__button__container {
  .booking__btn {
    width: 100%;
    color: var(--color-grey-light-1);
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 3px;
    padding: 0.6em 0.5em;
    margin: 0.5em 0;
    outline: none;
  }

  .booking__btn:hover,
  .booking__btn:focus {
    transition: 0.2s;
    background-color: var(--color-primary-light);
    border: 1px solid var(--color-primary-light);
  }

  .booking__btn:disabled {
    background-color: var(--color-primary-light);
    border: 1px solid var(--color-primary-light);
    opacity: 0.6;
  }
}

.close__modal__btn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: white;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
  z-index: 10;
}

.close__modal__btn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}
