* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --color-primary: hsl(266, 50%, 36%);
  --color-primary-light: hsl(266, 50%, 60%);
  --color-primary-dark: hsl(266, 50%, 20%);
  --color-secondary: hsl(206, 50%, 36%);
  --color-secondary-light: hsl(206, 50%, 60%);

  --color-grey-light-1: hsl(0, 0%, 95%);
  --color-grey-light-2: hsl(0, 8%, 95%);
  --color-grey-light-3: hsl(0, 6%, 94%);
  --color-grey-light-4: hsl(0, 0%, 80%);

  --color-grey-dark-1: hsl(0, 0%, 10%);
  --color-grey-dark-2: hsl(0, 0%, 30%);
  --color-grey-dark-3: hsl(0, 0%, 50%);
  --color-grey-dark-4: hsl(0, 0%, 90%);

  --shadow-dark: 1px 1px 6px 2px hsla(0, 0%, 0%, 0.3);
  --shadow-light: 2px 4px 6px 2px hsla(0, 0%, 0%, 0.08);

  // --color-magenta-pink: hsl(326, 50%, 36%);
}

body {
  font-weight: 400;
  line-height: 1.6;
  font-family: "Nunito", sans-serif;
  // font-size: 62.5%;
  color: var(--color-grey-dark-1);
  background-size: cover;
  background-repeat: no-repeat;
}
html {
  // font-size: 62.5%;
  box-sizing: border-box;
}

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

.pages {
  box-shadow: var(--shadow-dark);
  min-height: 100vh;
  display: flex;
  overflow: hidden;
  flex: 1;
  @media (max-width: 800px) {
    flex-direction: column;
  }
  &__component {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: var(--color-grey-light-2);
    position: relative;
  }
}
