.logout__container {
  width: 6.5em;
  display: inline-block;
  background-color: var(--color-grey-light-1);
  border: 1px solid var(--color-grey-light-1);
  border-radius: 3px;
  position: absolute;
  top: 2.4em;
  right: -1.65em;
  padding: 0.5em;
  .logout__paragraph {
    color: hsl(0, 100%, 60%);
    display: flex;
    align-items: center;
    cursor: pointer;
    span {
      margin-left: 0.4em;
    }
  }
}
