.chat__Message__container {
  border: 1px solid var(--color-grey-light-3);
  min-height: 100vh;
  max-height: auto;
  width: 100%;
  display: grid;
  place-items: center;

  &__inner {
    width: 60%;
    height: auto;
    height: 80vh;
    position: relative;
    background-color: hsl(0, 0%, 98%);
    border-radius: 5px;
    box-shadow: var(--shadow-dark);
  }
  .link__to__chat__list {
    color: white; // Temporary and to be removed
    margin-left: 0.5em;
  }
  .chat__message__header {
    background-color: var(--color-primary-dark);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    position: relative;

    .image__icon__container {
      display: grid;
      place-items: center;
      border-radius: 50%;
      background-color: hsl(0, 0%, 90%);
      padding: 0.2em;
      margin: 1em 0.15em;
    }
    .user__image__container {
      margin-left: 2em;
    }
    .user__role {
      font-size: 0.6em;
      font-weight: bold;
      display: inline-block;
      position: absolute;
      bottom: -0.2em;
      left: 1em;
      .client__role {
        padding: 0.1em 0.3em;
        background-color: var(--color-primary-light);
        background-color: hsl(120, 100%, 30%);
        color: var(--color-grey-light-1);
        border-radius: 2px;
      }
      .customer__support__role {
        padding: 0.1em 0.3em;
        background-color: hsl(240, 100%, 40%);
        color: var(--color-grey-light-1);
        border-radius: 2px;
      }
    }
    .chat__with__user__name {
      margin-left: 0.6em;
    }
  }
}

.chat__with__calls__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  right: 2em;
  .video__call {
    margin-right: 2em;
  }
}
.message__container {
  background-color: var(--color-primary-light);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 0em 0.6em;
  height: 70.5%;
  overflow-y: scroll;
  #message {
    position: relative;
    width: 60%;
    color: hsl(0, 0%, 98%);
    border-radius: 1.5em;
    margin: 0.5em 0em;
    padding: 0em 1em;
    padding-bottom: 1.3em;
  }
  .msg {
    margin-bottom: 1em;
    text-align: start;
  }
  .my__message {
    background-color: var(--color-secondary);
    // margin-left: 1em;
  }
  .another__persons___message {
    background-color: var(--color-grey-dark-2);
    // margin-left: 4em;
  }
  .date__time__container {
    position: absolute;
    right: 2em;
    bottom: 0em;
    display: flex;
    color: var(--color-grey-light-4);
    font-size: 0.72em;
    .time {
      margin-right: 0.4em;
    }
    // .date {
    // }
  }
}

.form__input {
  // background-color: seagreen;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 0em 0.5em;
  margin: 0.5em 0em;
  &__field {
    width: 100%;
    color: var(--color-primary-dark);
    color: var(--color-grey-light-1);
    background-color: var(--color-grey-dark-2);
    border: 1px solid hsl(0, 0%, 87%);
    border-radius: 40px;
    padding: 0em 1em;
    font-size: medium;
    outline: none;
    cursor: context-menu;
  }
  &__field:focus {
    border: none;
  }
  .button__icon__container {
    margin-left: 0.3em;
    .send__icon {
      display: grid;
      place-items: center;
      border-radius: 50%;
      background-color: var(--color-secondary);
      padding: 0.2em;
      cursor: pointer;
    }
  }
}
