.general__header__container {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 3.5em;
  width: 100%;
  // position: sticky;
  // // position: fixed;
  // top: 0em;
  // right: 0em;
  // Todo: consider giving this container relative positioning

  @media screen and (min-width: 501px) and (max-width: 650px) {
    display: flex;
    flex-direction: column;
    padding: 0.5em 0em;
    .title__container {
      width: 60%;
      background-color: var(--color-primary-dark);
      border-radius: 3px;
      text-align: center;
      padding: 1em 0em;
      margin: 0.5em 0em;
    }
  }
  @media screen and (max-width: 500px) {
    display: flex;
    flex-direction: column;
    padding: 0.5em 0em;
    .title__container {
      width: 80%;
      background-color: var(--color-primary-dark);
      border-radius: 3px;
      text-align: center;
      padding: 1em 0em;
      margin: 0.5em 0em;
    }
  }
}

.logged__as__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .home__link {
    .link {
      color: var(--color-grey-light-1);
      text-decoration: none;
    }
  }
}

.title__container {
  .title {
    color: var(--color-grey-light-1);
  }
}
